@font-face {
    font-family: 'Inter';
    src: url('/Fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    /* font-weight: normal; */
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --default: #ffffff;
    --c50: #f9fafb;
    --c100: #f3f4f6;
    --c200: #e5e7eb;
    --c600: #4b5563;
    --c700: #374151;
    --c900: #111827;
}

body.dark-theme {
    --default: #030712;
    --c50: #111827;
    --c100: #1f2937;
    --c200: #374151;
    --c600: #d1d5db;
    --c700: #e5e7eb;
    --c900: #f9fafb;
}

body {
    /* width: 100%; second issue */
    /* height: auto; */
    /* background-color: #FFFFFF; */
    background-color: var(--default);
    /* transition: filter 0.3s ease-in-out; */
    font-family: 'Inter', sans-serif;
    /* overflow: hidden; */
    /* z-index: 0; */
}

/* body.blur {
    filter: blur(5px);
} */

/* body.blur {
    filter: blur(5px);
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 900;
    display: none;
}

.overlay.active {
    display: block;
}

header {
    width: 100%;
    padding: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1); /* لون شفاف */
    backdrop-filter: blur(10px); /* الـ blur اللي بيدي شكل الزجاج */
    -webkit-backdrop-filter: blur(10px); /* عشان Safari */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* خط بسيط من تحت */
    top: 0;
    position: fixed;
    z-index: 1000;
    background-color: var(--default);
    /* border: 1px solid black; */
}

nav {
    /* width: 100%; */
    margin: auto; /* third issue */
    /* width: 90vw; */
    /* border-bottom: 1px solid #f3f4f6; */
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    /* border: 3px solid red; */
}

.nav-links {
    display: none;
}

.main-nav {
    width: 100%;
    /* border: 1px solid orange; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #portfolio-logo {
    width: 70px;
    height: auto;
    cursor: pointer;
} */

#logo {
    width: 70px;
        height: auto;
        cursor: pointer;
        /* border: 1px solid green; */
}

#logo a {
    display: inline-block;
    font-size: 1.5rem;
    width: 100%;
    color: var(--c900);
    text-decoration: none;
    /* border: 1px solid aqua; */
}

.menu-download {
    display: none;
}

#menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 1s ease;
    /* border: 1px solid saddlebrown; */
}

#menu-btn:hover {
    transform: rotate(0.5turn);
}

/* #menu-icon {
    width: 30px;
    height: auto;
} */

.fa-bars {
    /* width: 30px; */
    color: var(--c900);
    /* border: 1px solid firebrick; */
}

.menu-bar {
    /* visibility: hidden; */
    opacity: 0;
    /* width: 60%; */
    /* width: 60%; */
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    /* background-color: #FFFFFF; */
    background-color: var(--default);
    box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--c100);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0rem;
    padding-top: 3rem;
    /* background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10px);
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2); */
}

.menu-bar.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.menu-header {
    width: 100%;
    margin-top: 0.7rem;
    border-bottom: 1px solid var(--c100);
}

#close-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 1.5rem;
    /* right: 1.4rem; */
    right: 1rem;
    /* border: 1px solid red; */
    transition: transform 1s ease;
}

#close-btn:hover {
    transform: rotate(0.5turn);
}

.fa-xmark {
    /* width: 15px;
    height: auto; */
    /* border: 1px solid; */
    color: var(--c600);
}

.menu-links {
    /* border: 1px solid;
    border-bottom: 1px solid olive; */
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--c100);
}

.menu-links ul {
    list-style: none;
    /* border: 1px solid; */
        /* border-bottom: 1px solid olive; */
}

.menu-links ul li {
    /* margin: 1rem 0; */
    /* margin: 2.5rem 2rem; */
    margin: 3rem 2rem;
    /* border: 1px solid red; */
}

.menu-links ul li a {
    text-decoration: none;
    /* color: #4b5563; */
    color: var(--c600);
    /* font-size: 1.2rem; */
    font-size: 0.8rem;
    /* border: 1px solid; */
    transition: color 0.3s ease;
}

.menu-links ul li a:hover {
    color: var(--c900);
}

.menu-theme {
    /* width: 100%; */
    margin-top: 2rem;
    /* margin-left: 2rem; */
    /* margin-bottom: 2rem; */
    /* margin-bottom: 2.5rem; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* gap: 10px; */
    /* gap: 8rem; */
    /* border: 1px solid purple; */

        margin-left: 2rem;
        margin-bottom: 4rem;
            margin-bottom: 2rem;
}

.menu-theme p {
    color: var(--c600);
    font-size: 0.8rem;
}

.nav-links-container #nav-theme-toggler {
    display: none;
}

.menu-theme #menu-theme-toggler {
    background: none;
    border: none;
    cursor: pointer;
    /* border: 1px solid; */
    position: absolute;
    /* right: 1.4rem; */
    right: 1rem;
    /* width: 20px;
        height: auto; */
        transition: scale 0.3s ease;
}

/* #menu-dark-mode-btn {
    width: 20px;
    height: auto;
    transition: scale 0.3s ease;
} */

#menu-theme-toggler:hover {
    scale: 1.1;
}

.fa-circle-half-stroke {
    color: var(--c600);
}

.nav-links-container .menu-download {
    display: none;
}

.menu-bar .menu-download {
    /* border: 1px solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-download a {
    display: inline-block;
    background-color: var(--c900);
    color: var(--c50);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 24px;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    /* font-weight: bold; */
    /* transition: opacity 0.3s ease; */
    /* transition: background-color 1.5s ease; */
    /* border: 1px solid; */
    transition: scale 1s ease;
}

.menu-download a:hover {
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    /* background-color: #4b5563; */
    scale: 1.05;
}

@media screen and (min-width: 768px) {

    nav {
        padding: 1rem 0 1rem 1rem;
    }

    /* #portfolio-logo {
        width: 130px;
    } */

        #logo {
            width: 130px;
        }
    
        #logo a {
            font-size: 2rem;
        }

    .menu-bar {
        width: 50%;
        padding-top: 9rem;
    }

    /* #menu-icon {
        width: 50px;
    } */

    .menu-bar {
        padding-top: 9rem;
    }

        #close-btn {
            top: 2.5rem;
            right: 1rem;
        }

    /* #close-icon {
        width: 25px;
    } */

    .menu-header {
        margin-top: -2.7rem;
        /* border: 1px solid; */
    }

    .menu-links {
        /* border: 1px solid firebrick; */
        border-bottom: 1px solid var(--c100);
        padding-bottom: 1rem;
    }

    .menu-links ul li {
        /* margin: 1rem 0; */
        margin: 3rem 2rem;
    }

    .menu-links ul li a {
        /* font-size: 1.2rem; */
        font-size: 1rem;
    }

    .menu-theme {
        margin-top: 2rem;
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .menu-theme p {
        color: var(--c600);
        font-size: 1rem;
        margin-left: 2rem;
    }

        .menu-theme #dark-mode-btn {
            right: 1.5rem;
        }

    #dark-mode {
        width: 40px;
    }

    .menu-download a {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        font-size: 1rem;
        border-radius: 48px;
    }

}

@media screen and (min-width: 1024px) {

    header {
        /* border: 1px solid; */
    }

    nav {
        /* width: 100%; */
        margin: auto;
        /* third issue */
        /* width: 90vw; */
        /* border-bottom: 1px solid #f3f4f6; */
        /* position: relative; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border: 1px solid blue;  */
        max-width: 100%;
    }

    .menu-bar {
        display: none;
    }

    .main-nav {
        /* border: 2px solid red; */
        /* border: 1px solid red; */
        
    }

    /* #portfolio-logo {
        width: 150px;
    } */

    #logo {
        /* border: 1px solid darkblue; */
    }
    
         #logo a {
             font-size: 2.5rem;
         }

    #menu-btn, .main-nav > li:last-child {
        display: none;
    }

    .nav-links-container {
        /* border: 1px solid purple; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 0.75;
    }

    .nav-links {
        display: block;
        /* border: 2px solid; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        /* gap: 5rem; */
        font-size: 1.2rem;
        flex-grow: 0.75;
        border-right: 3px solid var(--c100);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .nav-links li a {
        display: inline-block;
        text-decoration: none;
        color: var(--c600);
        transition: color 0.3s ease;
    }

    .nav-links li a:hover {
        color: var(--c900);
        /* transform: scale(1.05); */
    }

    .nav-links-container #nav-theme-toggler {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    #nav-theme-toggler {
        transition: scale 0.3s ease;
    }

        #nav-theme-toggler:hover {
            scale: 1.1;
        }

    .nav-links-container .menu-download {
        display: block;
    }

    /* #dark-mode {
        display: block;
        width: 40px;
    } */

    .fa-circle-half-stroke {
        display: block;
    }

    .menu-download {
        width: auto;
        display: block;
    }

    .menu-download a {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        font-size: 1.2rem;
    }

}

/* nav>ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

#menu-icon:hover {
    background-color: rgb(234, 233, 233);
    border-radius: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s;
    z-index: 500;
}

.blur {
    filter: blur(8px);
}

.overlay.active {
    visibility: visible;
    opacity: 1;
} */

/* #portfolio-icon {
    width: 2.2em;
    height: auto;
} */

/* #close-icon {
    width: 1em;
    height: auto;
    padding: 0.5em;
} */

/* #close-icon:hover {
    background-color: rgb(223, 222, 222);
    border-radius: 5px;
}

.menu-bar>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

.menu-bar>div:nth-child(2) {
    border-top: 1px solid #f3f4f6;
    border-bottom: 1px solid #f3f4f6;
    display: flex;
    align-items: center;
}

.menu-bar>div:nth-child(2)>ul {
    list-style: none;
    padding: 1.5em;
}

.menu-bar>div:nth-child(2)>ul>li {
    margin-bottom: 3em;
}

.menu-bar>div:nth-child(2)>ul>li:last-child {
    margin-bottom: 0;
}

.menu-bar>div:nth-child(2)>ul>li>a {
    font-size: 1em;
    text-decoration: none;
    color: #4b5563;
}

.menu-bar>div:nth-child(2)>ul>li>a:hover {
    color: #111827;
}

.menu-bar>div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5em;
    padding-top: 1em;
    padding-right: 0.5em;
}

.menu-bar>div:nth-child(3)>p {
    color: #4b5563;
    font-size: 1em;
}

#dark-mode {
    width: 2em;
    height: auto;
    padding: 0.3em;
}

#dark-mode:hover {
    background-color: rgb(234, 233, 233);
    border-radius: 5px;
}

.menu-bar>div:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
} */

/* button {
    background-color: #111827;
    color: #f9fafb;
    border-radius: 12px;
    border: none;
    padding: 1em;
    width: 85%;
    cursor: pointer;
} */

/* button>a {
    color: #f9fafb;
    text-decoration: none;
}

button:hover {
    opacity: 0.9;
} */


.hero-section {
    /* border: 1px solid yellow; */
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--c50);
    padding-top: 8rem;
    /* padding-bottom: 8rem; */
}

.personal-image-container {
    /* border: 1px solid green; */
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
        /* padding-left: 0.5rem; */
        /* margin-top: 1rem; */
        border-top: 3px solid #b36e6e;
        border-bottom: 3px solid #b36e6e;
        
}

.personal-image-container img {
    /* width: 150px; */
    /* width: 50%; */
    width: 250px;
    height: auto;
    /* border-top: 3px solid #b36e6e;
    border-left: 3px solid #b36e6e; */
    /* padding-top: 0.5rem;
    padding-left: 0.5rem; */
}

.intro-container {
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.intro-1 {
    /* border: 1px solid green;  */
    /* width: 100%;
    height: auto; */
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 100%; */
    width: 250px;
    height: auto;
    /* padding-left: 0.5rem; */
}

.intro-1 h1 {
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    /* margin-bottom: 1rem;
    border: 1px solid; */
    color: var(--c900);
}

@keyframes waving-hand {
    
    0% {
        transform: rotate(0turn);
    }

    50% {
        transform: rotate(0.1turn);
    }

    100% {
        transform: rotate(0turn);
    }

}

.intro-1 img {
    /* border: 1px solid; */
    width: 20px;
    height: auto;
    margin-left: 0.5rem;
    color: var(--c900);
    animation: waving-hand 2s ease infinite;
}

.intro-1 p {
    /* border: 1px solid; */
    color: var(--c600);
    font-size: 0.8rem;
    line-height: 1.4rem;
    text-align: center;
}

.intro-2 {
    /* border: 1px solid purple; */
    /* width: 100%;
    height: auto; */
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

}

.intro-2 p {
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c600);
    font-size: 0.8rem;
}

.fa-location-dot {
    margin-right: 0.4rem;
    color: var(--c900);
}

.intro-2 img {
    /* border: 1px solid darkblue; */
    margin-right: 0.5rem;
    width: 20px;
    height: auto;
}

@keyframes blink {

    0% {
        opacity: 0.5;
        /* box-shadow: 0 0 10px rgba(117, 168, 129, 0.8); */
        box-shadow: 0 0 5px rgba(40, 238, 40, 0.3);
    }

    100% {
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        /* box-shadow: 0 0 5px rgba(117, 168, 129, 0.8); */
        /* box-shadow: 0 0 25px rgba(0, 255, 0, 1); */

        /* box-shadow: 0 0 10px rgba(117, 168, 129, 0.8); */
    }

    /* 100% {
        opacity: 1;
        box-shadow: 0 0 25px rgb(51, 103, 51);
    } */

}

.status-indicator {
    /* width: 5vw;
    height: auto; */
    /* background-color: #a7e3b5;
    border-radius: 50%;*/
    border-radius: 50%;
    /* border: 2px solid rgb(38, 176, 38); */
    background-color: rgb(206, 247, 206);
    animation: blink 2s infinite alternate ease;
    /* box-shadow: 0 0 10px rgba(117, 168, 129, 0.8); */
}

.intro-3 {
    /* border: 1px solid firebrick; */
    /* background-color: #e2cbcb;  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.intro-3 a {
    /* margin-right: 0.5rem; */
    /* padding: 0.5rem; */
    /* border: 1px solid; */
}

.fa-brands {
    color: var(--c900);
}

@keyframes continuous-shake {

    0%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-2deg);
    }
}

.intro-3 a:hover {
    animation: continuous-shake 2s infinite ease-in-out;
}

.intro-3 img {
    width: 20px;
    height: auto;
}

@media screen and (min-width: 768px) {

    .hero-section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 10rem;
    }

    .personal-image-container {
        display: flex;
        justify-content: end;
        order: 1;
        /* width: 35%; */
        /* border: 1px solid; */
        width: 30%;
    }

    .personal-image-container img {
        /* width: 150px; */
        /* width: 100%; */
        /* width: 70%; */
        width: 100%;
        height: auto;
    }

    .intro-container {
        /* border: 2px solid red;  */
        /* width: 100%; */
        padding-top: 0;
        padding-bottom: 0;
        flex-direction: column;
        align-items: start;
        /* border: 1px solid; */
        width: 70%;
    }

    .intro-1 {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
    }

    .intro-1 h1 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    
    /* should be animated wave */
    .intro-1 img {
        /* border: 1px solid; */
        width: 30px;
    }

    .intro-1 p {
        font-size: 1rem;
        text-align: start;
    }

    .intro-2 {
        margin-bottom: 3rem;
        gap: 1rem;
        align-items: start;
    }

    .intro-2 p {
        font-size: 1rem;
    }

        .fa-location-dot {
            margin-right: 0.7rem;
        }

    .intro-2 img {
        /* width: 30px; */
        margin-right: 0.4rem;
    }

    .intro-3 {
        /* gap: 1rem; */

    }

    .intro-3 i {
        /* width: 30px; */
    }

}

@media screen and (min-width: 1024px) {

    nav {
        padding-left: 2.5rem;
    }

    .hero-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .personal-image-container {
        /* width: 20%; */
        justify-content: end;
        width: 25%;
    }

    .personal-image-container img {
        /* width: 250px; */
        /* width: 80%; */
        width: 100%;
    }

    .intro-container {
        width: 75%;
        padding: 2.5rem;
    }

    .intro-1 {
        margin-bottom: 2rem;
    }

    .intro-1 h1 {
        font-size: 2rem;
    }

    /* should be animated wave */
    .intro-1 img {
        width: 30px;
    }

    .intro-1 p {
        font-size: 1rem;
    }

    .intro-2 {
        margin-bottom: 3rem;
        gap: 1.5rem;

    }

    .intro-2 p {
        font-size: 1rem;
    }

    .intro-2 img {
        /* width: 30px; */
    }

    .intro-3 {
        /* border: 1px solid firebrick; */
        margin-bottom: 0rem;
    }

    .intro-3 img {
        width: 30px;
    }

}

#About-Me {
    width: 100%;
    height: auto;
    /* background-color: #f9fafb; */
    /* background-color: #FFFFFF; */
    background-color: var(--default);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding-top: 1rem; */
    padding: 1rem;
    /* border: 1px solid darkblue; */
    /*background-color: aquamarine; */
    /* padding-top: 8rem; */
    /* padding-bottom: 8rem; */
    scroll-margin-top: 4rem;
}

#About-Me > p, #Skills > p:nth-child(1), #Experience > p:nth-child(1), #Work > p:nth-child(1), #Contact > p:nth-child(1), #Testimonials > p:nth-child(1) {
    border-radius: 25px;
    background-color: var(--c200);
    font-size: 0.8rem;
    line-height: 1.4rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--c600);
    width: auto;
}

@media screen and (min-width: 768px) {

    #About-Me {
        scroll-margin-top: 6rem;
    }

    #About-Me>p, #Skills>p:nth-child(1), #Experience>p:nth-child(1), #Work>p:nth-child(1), #Contact>p:nth-child(1), #Testimonials>p:nth-child(1) {
        border-radius: 50px;
        font-size: 1rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }

}

@media screen and (min-width: 1024px) {

    #About-Me>p, #Skills>p:nth-child(1), #Experience>p:nth-child(1),
    #Work>p:nth-child(1), #Contact>p:nth-child(1), #Testimonials>p:nth-child(1) {
        border-radius: 75px;
        font-size: 1.2rem;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }

}

.about-me-container {
    /* border: 1px solid firebrick; */
    /*background-color: salmon; */
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.about-me-container > div {
    /* width: 50%; */
    height: auto;
    /* padding-top: 0.5rem;
    padding-left: 0.5rem; */
    /* margin-top: 1rem; */
    /* border-top: 3px solid #b36e6e;
    border-bottom: 3px solid #b36e6e; */
    /* border: 1px solid darkblue;
    background-color: darkcyan; */
    padding-top: 0.5rem;
        padding-bottom: 0.3rem;
        /* padding-left: 0.5rem; */
        /* margin-top: 1rem; */
        border-top: 3px solid #b36e6e;
        border-bottom: 3px solid #b36e6e;
}

.about-me-container > div img {
    width: 250px;
    height: auto;

    /* padding-top: 0.5rem;
        padding-left: 0.5rem; */
        /* margin-top: 1rem; */
        /* border-top: 3px solid #b36e6e;
        border: 3px solid #b36e6e; */
}

.about-me-container > section {
    /* width: 85vw; */
    /* border: 1px solid aqua; */
    /* width: 250px; */
    width: 100%;
    height: auto;
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.about-me-container > section h3 {
    color: var(--c900);
    font-size: 1rem;
    line-height: 32px;
    letter-spacing: -2%;
    /* padding-left: 1vw; */
    font-weight: 500;
    margin-bottom: 1rem;
    /* border: 1px solid; */
    text-align: center;
}

.about-me-container > section p {
    color: var(--c600);
    font-size: 0.8rem;
    line-height: 1.4rem;
    /* border: 1px solid; */
    text-align: center;
    margin-bottom: 1rem;
}

.about-me-container>section p:nth-child(6) {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {

    #About-Me > p, #Skills > p:nth-child(1) {
        font-size: 1rem;
        padding: auto;
    }

    .about-me-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 0;
        column-gap: 2rem;
    }

        .about-me-container>div {
            align-self: self-start;
        }
    
    .about-me-container > div img {
        width: 250px;
        height: auto;
    }
    
    .about-me-container > section {
        width: 70%;
        align-items: start;
        padding-top: 0.3rem;
    }

    .about-me-container > section h3 {
        font-size: 1.5rem;
    }

    .about-me-container > section p,
    .about-me-container > section ul {
        font-size: 1rem;
        text-align: start;
    }

    .about-me-container > section ul {
        text-align: start;
        width: fit-content;
        /* margin-left: 1rem; */
        margin-left: 0;
        padding-left: 0;
    }

}

@media screen and (min-width: 1024px) {

    #About-Me > p, #Skills > p:nth-child(1) {
        font-size: 1.2rem;
        padding: auto;
    }

    .about-me-container {
        padding-left: 2.5rem;
    }

}

#Skills {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid;
    background-color: aliceblue; */
    padding: 1rem;
    background-color: var(--c50);
    /* padding-top: 8rem;
    padding-bottom: 8rem; */
    scroll-margin-top: 4rem;
}

#Skills > p:nth-child(2), #Experience > p:nth-child(2), #Work > p:nth-child(2) {
    text-align: center;
    color: var(--c600);
    /* width: 90%; */
    /* border: 1px solid; */
    font-size: 0.8rem;
    line-height: 1.4rem;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    height: auto;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#Skills > section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    /* gap: 3rem; */
    /* margin-top: 1rem; */
    /* border: 1px solid; */
    /* padding: 1rem; */
    width: 60%;
    padding: 1rem;

}

#Skills > section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
    gap: 1rem;
}

#Skills > section > div > a {
    /* display: block; */
    /* width: 10vw; */
    /* padding: 0; */
    /* border: 1px solid blue; */
}

/* #Skills > section > div img {
    width: 30px;
    height: auto;
    transition: transform 0.8s ease-in-out;
} */

.fa-brands {
    transition: transform 0.8s ease-in-out;
}

.fa-brands:hover {
    transform: scale(1.1);
}

/* #Skills>section>div img:hover {
    transform: scale(1.1);
} */

#Skills > section > div > p {
    font-size: 0.8rem;
    color: var(--c600);
    /* padding: 0; */
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {

    #Skills {
            scroll-margin-top: 6rem;
        }

    #Skills > p:nth-child(2) {
        font-size: 1rem;
    }

    #Skills > section {
        grid-template-columns: repeat(6, 1fr);
        width: 80%;
    }

    #Skills > section > div img {
        width: 60px;
    }
    
    #Skills > section > div > p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {

    #Skills > p:nth-child(2) {
        font-size: 1.2rem;
    }
    
    #Skills > section {
        grid-template-columns: repeat(8, 1fr);
        width: 100%;
    }

    #Skills > section > div img {
        width: 70px;
    }

    #Skills > section > div > p {
        font-size: 1.4rem;
    }
}

#Experience {
    /* background-color: #f9fafb; */
    /* background-color: #FFFFFF; */
    background-color: var(--default);
    width: 100%;
    height: auto;
    /* padding-bottom: 3vh;
    padding-top: 2vh; */
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    /* padding-top: 8rem;
    padding-bottom: 8rem; */
    scroll-margin-top: 4rem;
}

#Experience > p:nth-child(2) {
    font-size: 0.8rem;
}

#Experience > section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    row-gap: 2rem;
    padding: 1rem;
    /* border: 1px solid;
    background-color: honeydew; */
}

#Experience > section > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* background-color: #FFFFFF; */
    background-color: var(--c100);
    padding: 1rem;
    transition: transform 0.3s ease;
}

#Experience>section>div:hover {
    transform: scale(1.03);
}

#Experience > section > div > img {
    width: 50px;
    height: auto;
}

#Experience > section > div >  p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: var(--c700);
    font-weight: 400;
    margin-top: 1rem;
}

.experience-details {
    /* border: 1px solid; */
    margin-top: 1rem;
    width: auto;
}

.experience-details p {
    font-weight: bold;
    color: var(--c900);
    font-size: 1rem;
    line-height: 1.4rem;
}

.experience-details ul {
    font-size: 0.8rem;
    color: var(--c600);
    line-height: 1.4rem;
    margin-top: 1rem;
    list-style: none;
}

.experience-details ul li {
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

    #Experience {
            scroll-margin-top: 6rem;
        }

    #Experience>p:nth-child(2) {
        font-size: 1rem;
    }

    #Experience>section>div>p {
        font-size: 1rem;
    }

    #Experience > section {
        width: 100%;
        height: auto;
    }

    #Experience > section > div {
        /* display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 3rem; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        padding: 1rem;
        width: 100%;
    }
    
    #Experience > section > div > img {
        width: 100%;
        height: auto;
        margin-top: 1rem;

    }
    
    #Experience > section > div > p {
        font-size: 1rem;
        order: 1;
        width: 100%;
        text-align: center;
    }

        .experience-details p {
            font-size: 1rem;
        }

    .experience-details > ul {
        font-size: 1rem;
        line-height: 1.6rem;
    }

}

@media screen and (min-width: 1024px) {

    #Experience>p:nth-child(2) {
        font-size: 1.2rem;
    }

    #Experience>section>div>p {
        font-size: 1.2rem;
    }

        #Experience>section>div {
            width: 80%;
        }
    
        .experience-details p {
            font-size: 1.2rem;

        }
    
        .experience-details ul {
            font-size: 1.2rem;
            line-height: 1.8rem;
        }

}

#Work {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: var(--c50);
    /* padding-top: 8rem;
    padding-bottom: 8rem; */
    scroll-margin-top: 4rem;
}

#Work > p:nth-child(2) {
    font-size: 0.8rem;
    line-height: 1.4rem;
}

#Work > section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid; */
    row-gap: 2rem;
    padding: 1rem;
    /* background-color: honeydew; */
}

#Work > section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* row-gap: 1rem; */
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* background-color: #FFFFFF; */
    background-color: var(--c100);
    /* padding: 1rem 1rem 0 1rem; */
    width: 100%;
}

.work-demo {
    border-radius: 12px 12px 0 0;
    background-color: var(--c200);
    display: block;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Work > section > div img {
    border-radius: 12px;
    width: 100%;
    height: auto;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    transition: transform 0.3s ease-in-out;
}

#Work>section>div img:hover {
    transform: scale(1.03);
        /* Increases size by 10% */
}

.work-details {
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

.work-details > p:nth-child(1) {
    color: var(--c900);
    font-weight: 600;
    margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
    border-radius: 12px;
    padding-left: 1rem;
}

.work-details > p:nth-child(2) {
    font-size: 0.8rem;
    color: var(--c600);
    line-height: 1.4rem;
    margin-top: 1rem;
    padding-left: 1rem;
}

.work-details > section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
}

.work-details section > div {
    border-radius: 25px;
    background-color: var(--c200);
    color: var(--c600);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.4rem;
    text-align: center;
    transition: transform 0.5s ease;
}

.work-details section>div:hover {
    transform: scale(1.1);
}

.work-details > a {
    padding: 1rem;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    padding: 0;
}

.work-details > a:hover {
    transform: scale(1.1);
}

/* .work-details > a i {
    width: fit-content;
    height: auto;

} */

.fa-arrow-up-right-from-square {
    color: var(--c900);
    width: fit-content;
        height: auto;
}

@media screen and (min-width: 768px) {

    #Work {
            scroll-margin-top: 6rem;
        }

    #Work > p:nth-child(2) {
        font-size: 1rem;
    }
    
    #Work > section > div {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        /* column-gap: 1rem; */
    }

    .work-details {
        border-radius: 0 12px 12px 0;
        align-self: stretch;
        padding-top: 3rem;
        padding-right: 2rem;
    }

    #Work > section > div:nth-child(even) .work-details {
        order: -1;
        border-radius: 12px 0 0 12px;
        width: 50%;
    }
    
    .work-demo {
        width: 50%;
        border-radius: 12px;
        align-self: stretch;
    }

        #Work>section>div:nth-child(odd) .work-demo {
            border-radius: 12px 0 0 12px;
        }

                #Work>section>div:nth-child(even) .work-demo {
                    border-radius: 0 12px 12px 0;
                }

        #Work>section>div:nth-child(odd)>a {
            border-radius: 12px 0 0 12px;
        }

                #Work>section>div:nth-child(even) > a {
                    border-radius: 0 12px 12px 0;
                }
    
    .work-details {
        /* border: 1px solid; */
        width: 50%;
        /* gap: 1.5rem; */
    }

    .work-details > p:nth-child(1) {
        font-size: 1rem;
        margin: 0;
    }

    .work-details > p:nth-child(2) {
        font-size: 1rem;
        margin: 0;
    }

    .work-details section > div {
        border-radius: 50px;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        font-size: 1rem;
        margin: 0;
    }

}

@media screen and (min-width: 1024px) {

    #Work > p:nth-child(2) {
        font-size: 1.2rem;
    }

        #Work>section>div {
            width: 80%;
        }

        .work-demo {
            padding: 3rem;
        }

    .work-details {
        /* gap: 3rem; */
    }

    .work-details > p:nth-child(1) {
        font-size: 1.2rem;
    }

    .work-details > p:nth-child(2) {
        font-size: 1.2rem;
    }

    .work-details section > div {
        border-radius: 75px;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        font-size: 1.2rem;
    }

}

#Testimonials {
    background-color: #f9fafb;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid; */
    padding: 1rem;
    row-gap: 1rem;
    /* padding-top: 8rem;
    padding-bottom: 8rem; */
    scroll-margin-top: 4rem;
}

#Testimonials > p:nth-child(2) {
    color: #4b5563;
    font-size: 0.8rem;
    line-height: 1.4rem;
    text-align: center;
    /* border: 1px solid; */
}

#Testimonials > section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    row-gap: 1rem;
    padding: 1rem;
    /* border: 1px solid; */
}

#Testimonials > section > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* background-color: #FFFFFF; */
    background-color: var(--main-bg-color);
    padding: 1rem;
    row-gap: 1rem;
}

#Testimonials > section > div > img {
    width: 60px;
    height: 60px;
    border-radius: 64px;
}

#Testimonials > section > div > p:nth-child(2) {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
    /* border: 1px solid; */
    color: #4b5563;
    line-height: 1.4rem;
}

#Testimonials > section > div > h3 {
    font-size: 0.8rem;
    line-height: 1.4rem;
}

#Testimonials > section > div > p:last-child {
    font-size: 0.8rem;
    text-align: center;
    color: #4b5563;
}

@media screen and (min-width: 768px) {

    #Testimonials {
            scroll-margin-top: 6rem;
        }

    #Testimonials > section > div > img {
        width: 70px;
        height: 70px;
    }
    
    #Testimonials > p:nth-child(2) {
        font-size: 1rem;
    }

    #Testimonials > section {
        width: 70%;
    }

    #Testimonials > section > div > p:nth-child(2) {
        font-size: 1rem;
    }

    #Testimonials > section > div > h3 {
        font-size: 1rem;
    }

    #Testimonials > section > div > p:last-child {
        font-size: 1rem;
    }

}

@media screen and (min-width: 1024px) {

    #Testimonials > section > div > img {
        width: 80px;
        height: 80px;
    }

    #Testimonials > p:nth-child(2) {
        font-size: 1.2rem;
    }

    #Testimonials > section {
        width: 100%;
        /* display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    #Testimonials > section > div {

    }

    #Testimonials > section > div > p:nth-child(2) {
        font-size: 1.2rem;
    }

    #Testimonials > section > div > h3 {
        font-size: 1.2rem;
    }

    #Testimonials > section > div > p:last-child {
        font-size: 1.2rem;
    }

}

#Contact {
    /* background-color: #FFFFFF; */
    background-color: var(--default);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 1rem;
    /* border: 1px solid; */
    row-gap: 1rem;
    /* padding-top: 8rem;
    padding-bottom: 8rem; */
    scroll-margin-top: 4rem;
}

#Contact > p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    text-align: center;
    color: var(--c600);
    font-size: 0.8rem;
    /* border: 1px solid; */
    line-height: 1.4rem;
}

#Contact > p:nth-child(3), #Contact > p:nth-child(4) {
    color: var(--c900);
}

#Contact > p img:nth-child(odd) {
    width: 15px;
    height: auto;
}

#Contact>p img:nth-child(even) {
    width: 20px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#Contact > p img:nth-child(even):hover {
        transform: scale(1.1);
}

#Contact > div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* column-gap: 0.8rem; */
    gap: 2rem;
    border: none;
    /* border: 1px solid; */
}

#Contact > div img {
    width: 15px;
    height: auto;
}

#Contact > div img:hover {
    animation: continuous-shake 2s infinite ease-in-out;
}

.fa-envelope, .fa-copy, .fa-phone {
    color: var(--c900);
}

.fa-copy {
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    #Contact {
        row-gap: 2rem;
        scroll-margin-top: 6rem;
    }

    #Contact > p {
        font-size: 1rem;
        /* border: 1px solid; */
    }

        #Contact>p img:nth-child(odd) {
            width: 20px;
            height: auto;
        }
    
        #Contact>p img:nth-child(even) {
            width: 25px;
            height: auto;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

    /* #Contact > p img {
        width: 20px;
    }
    #Contact > div img {
        width: 20px;
    } */
         #Contact>div img {
             width: 20px;
         }
}

@media screen and (min-width: 1024px) {

    #Contact {
            row-gap: 3rem;
        }

    #Contact > p {
        font-size: 1.2rem;
        /* border: 1px solid; */
    }

        #Contact>p img:nth-child(odd) {
            width: 25px;
            height: auto;
        }
    
        #Contact>p img:nth-child(even) {
            width: 30px;
            height: auto;
            cursor: pointer;
            transition: transform 0.3s ease;
        }

                #Contact>div img {
                    width: 25px;
                }
    
    /* #Contact > p img {
        width: 25px;
    }

    #Contact > div img {
        width: 25px;
    } */

}

footer {
    background-color: var(--c50);
    width: 100%;
    height: auto;
    padding: 1rem;
    /* margin-top: 2rem; */
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c600);
    font-size: 0.8rem;
    gap: 0.3rem;
    /* border: 1px solid; */
}

footer img {
    width: 15px;
    height: auto;
    /* border: 1px solid; */
}

footer a {
    border-bottom: 1px solid var(--c600);
    text-decoration: none;
    color: var(--c600);
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

footer a:hover {
    color: var(--c900);
    border-bottom: 1px solid var(--c900);
}

@media screen and (min-width: 768px) {
    
    footer > p {
        font-size: 1rem;
    }

    footer img {
        width: 20px;
    }

}

@media screen and (min-width: 1024px) {

    footer > p {
        font-size: 1.2rem;
    }

    footer img {
        width: 25px;
    }
}

/* body>article {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1vh;
}

body>article>section {
    width: 90vw;
    height: auto;
}

body>article>div {
    width: 50vw;
    height: auto;
    padding-top: 0.5em;
    padding-left: 0.5em;
    margin-top: 3vh;
    border-top: 3px solid #b36e6e;
    border-left: 3px solid #b36e6e;
}

body>article>div>img {
    width: 50vw;
    height: 100%;
}

body>article>section>h1 {
    font-size: 4vw;
    line-height: 1vh;
    display: flex;
    align-items: center;
    padding-left: 0.4em;
    color: #111827;
}

body>article>section>h1 img {
    width: 6vw;
    height: auto;
    margin-left: 0.2em;
}

body>article>section p {
    font-size: 3vw;
    line-height: 2em;
    padding-left: 0.7em;
    padding-right: 1.9em;
    text-align: start;
    color: #4b5563;
}


.status-indicator {
    width: 5vw;
    height: auto;
    background-color: #a7e3b5;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(117, 168, 129, 0.8);
    animation: blink 1.5s infinite alternate;
}

@keyframes blink {

    0% {
        opacity: 1;
        box-shadow: 0 0 10px rgba(117, 168, 129, 0.8);
    }

    50% {
        opacity: 0.3;
        box-shadow: 0 0 5px rgba(117, 168, 129, 0.8);
    }

    100% {
        opacity: 1;
        box-shadow: 0 0 10px rgba(117, 168, 129, 0.8);
    }
}


body>article>section:nth-child(3) p {
    font-size: 3vw;
    line-height: 2em;
    color: #4b5563;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
}

body>article>section:nth-child(3) img {
    width: 5vw;
    height: auto;
    margin-right: 0.5em;
}

body>article>section:nth-child(4) {
    width: 90vw;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    padding-left: 2vw;
}

body>article>section:nth-child(4) img {
    width: 5vw;
    height: auto;
    margin-right: 4vw;
}

#About {
    width: 100vw;
    height: auto;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5vh;
}

#About>p,
#Skills>p:nth-child(1),
#Experience>p:nth-child(1),
#Work>p:nth-child(1),
#Testimonials>p:nth-child(1),
#Contact>p:nth-child(1) {
    border-radius: 25px;
    background-color: #e5e7eb;
    font-size: 3.5vw;
    line-height: 20px;
    text-align: center;
    padding: 3vw;
    color: #4b5563;
    width: 25vw;
}

#About>div {
    width: 50vw;
    height: auto;
    padding-top: 0.5em;
    padding-left: 0.5em;
    margin-top: 3vh;
    border-top: 3px solid #b36e6e;
    border-left: 3px solid #b36e6e;
}

#About>img {
    width: 50vw;
    height: 100%;
}

#About>section {
    width: 85vw;
}

#About>section h3 {
    color: #111827;
    font-size: 4vw;
    line-height: 32px;
    letter-spacing: -2%;
    padding-left: 1vw;
}

#About>section p,
#About>section ul {
    color: #4b5563;
    font-size: 3vw;
    line-height: 24px;
}

#About>section ul {
    padding-left: 5vw;
}

#Skills {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Skills>p:nth-child(1) {
    width: 20vw;
}

#Skills>p:nth-child(2),
#Experience>p:nth-child(2),
#Work>p:nth-child(2) {
    font-size: 3vw;
    line-height: 28px;
    text-align: center;
    color: #4b5563;
    width: 90vw;
}

#Skills>section {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vw;
    margin-top: 3vh;

}

#Skills>section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Skills>section>div>a {
    display: block;
    width: 10vw;
    padding: 0;
}

#Skills>section>div img {
    width: 100%;
    height: auto;
}

#Skills>section>div>p {
    font-size: 3vw;
    color: #4b5563;
    padding: 0;
}

#Experience {
    background-color: #f9fafb;
    width: 100vw;
    height: auto;
    padding-bottom: 3vh;
    padding-top: 2vh;
}

#Experience>p:nth-child(1),
#Work>p:nth-child(1) {
    width: 20vw;
}

#Experience>p:nth-child(2) {
    font-size: 3vw;
    line-height: 2em;
    text-align: center;
}

#Experience>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    row-gap: 3vh;
    padding: 4vw;
}

#Experience>section>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #FFFFFF;
    padding: 5vw;
    padding-bottom: 0;
}

#Experience>section>div>img {
    width: 15vw;
    height: auto;
    margin-bottom: 2vh;
    padding-left: 1.5vw;
}

#Experience>section>div>p {
    font-size: 4vw;
    line-height: 2em;
    color: #4b5563;
    font-weight: 400;
    margin-bottom: 0;
}

#Experience>section>div>p:nth-child(3) {
    font-weight: bold;
    color: #111827;
}

#Experience>section>div>ul {
    font-size: 4vw;
    padding-left: 1.9vw;
    color: #4b5563;
    line-height: 2em;
}

#Work>section {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    padding: 4vw;
}

#Work>section>div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #FFFFFF;
    padding: 5vw;
}

#Work>section>div>a {
    border-radius: 12px;
}

#Work>section>div img {
    border-radius: 12px;
    width: 100%;
    height: auto;
}

#Work>section>div>p:nth-child(2) {
    color: #111827;
    font-weight: bold;
    margin-top: 5vh;
    font-size: 4vw;
    line-height: 2em;
    border-radius: 12px;
    padding: 0;
}

#Work>section>div>p:nth-child(3) {
    margin-top: 0;
    font-size: 3vw;
    line-height: 2em;
    padding: 0;
}

#Work>section>div>section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 3vw;
    margin-top: 1vh;
    border-radius: 12px;
    padding: 0;
}

#Work>section>div>section>div {
    border-radius: 24px;
    background-color: #e5e7eb;
    color: #4b5563;
    padding: 3vw;
    font-size: 3vw;
}

#Work>section>div>a:last-child {
    width: 5vw;
    height: auto;
    margin-top: 5vh;
}

#Testimonials {
    background-color: #f9fafb;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#Testimonials>p:nth-child(2) {
    color: #4b5563;
    font-size: 3vw;
    line-height: 2em;
    text-align: center;
}

#Testimonials>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    row-gap: 3vh;
    padding: 4vw;
}

#Testimonials>section>div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #FFFFFF;
    padding: 5vw;
}

#Testimonials>section>div>img {
    width: 64px;
    height: 64px;
    border-radius: 64px;
}

#Testimonials>section>div>p:nth-child(2) {
    text-align: center;
    font-size: 3.5vw;
    margin-top: 4vh;
}

#Testimonials>section>div>h3 {
    font-size: 4vw;
}

#Testimonials>section>div>p:last-child {
    font-size: 3vw;
    text-align: center;
    padding: 0;
}

#Contact {
    background-color: #FFFFFF;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 3vh;
}

#Contact>p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    text-align: center;
    color: #4b5563;
    font-size: 3vw;
}

#Contact>p:nth-child(3),
#Contact>p:nth-child(4) {
    color: #111827;

}

#Contact>p img {
    width: 4vw;
    height: auto;
}

#Contact>div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    border: none;
}

#Contact>div img {
    width: 5vw;
    height: auto;
}

footer {
    background-color: #f9fafb;
    width: 100vw;
    height: auto;
    padding: 2vh;
}

footer>p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b5563;
    font-size: 3vw;
    gap: 1vw;
}

footer img {
    width: 5vw;
    height: auto;
}

footer a {
    border-bottom: 1px solid #4b5563;
    text-decoration: none;
    color: #4b5563;
} */